# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# ASP.NET
appsettings.Development.json
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache

# Project-specific files
lead-management-api/bin/
lead-management-api/obj/
